JINKU_CSRF_TOKEN="7Cr4McQg3nYvXfhEvAKfKwnjNXDxoWdDTz6QY5IA"
JINKU_COOKIE="XSRF-TOKEN=eyJpdiI6IlRnZDd5cVBCNUxiSUJQbGRWRi9iTXc9PSIsInZhbHVlIjoiNGxKekgva3YraXpmSFdnRkx4Sjhod1lzUXpMdzB0ZkYvbEI1cE0vamJWRG5uUmJSM2UyWkRMM0JsRms5VDh5dFlJeTNjeHpQVENqZXh2VmVpT2szWXU4MFZrajNlZE0rdVp4Y1dJNmc0Q21RTE9JSkRpaGVGaVE0dXlRd0VubzAiLCJtYWMiOiJhOTJhZDBjZmJmYzIzYTI0Yzg1MDU5YTg4MzMxOGQ5OWE4NDA5NjIwYzJkNzg4OWVlODdhMTgxYjE4ZTU0ZWZmIiwidGFnIjoiIn0%3D; laravel_session=eyJpdiI6IlFRUjlYUWlHOFBPUjY2Sk5UcFJyVVE9PSIsInZhbHVlIjoiU1duemJiWlFtUGFVb0RaRS8wdTBDTUZMWW51U2tUTXdCcXdmSFZhWGszZldRSlgxR2hTdTA4bVJZSWdNUmplWDcwUjk5MjBLNWtHeEh1ckNWZ0ltVkYrR0NDeFNRSUp1UUVQTGdhek8wTlRwUk9BMXpFYmM5SWVRWHNEbzJsOXEiLCJtYWMiOiI0ZWQzZThhYTkzOTAyZTYwNzI0MmEyMzI5Y2RiMDZlMWFiZWI0YWIzYmU2ZTNlYTFiNTE4YmZjZDRjZmE2ODA2IiwidGFnIjoiIn0%3D; AWSALB=q8kAE/vvIyHPtQDprXCjDLR8z6wHUvJyIvdggAQnbwPgKOI4AAVVcKSTOPv5Z5/iqxQ6ZHJJ48DQJ5aDdACBvOGtDLeC8x+rO/mJUb1w5VDMXcZisKrFTfB3DUFW; AWSALBCORS=q8kAE/vvIyHPtQDprXCjDLR8z6wHUvJyIvdggAQnbwPgKOI4AAVVcKSTOPv5Z5/iqxQ6ZHJJ48DQJ5aDdACBvOGtDLeC8x+rO/mJUb1w5VDMXcZisKrFTfB3DUFW"
MONGO_URI="mongodb://localhost:27017/"
DATABASE_NAME="autoSparePartsCatalog"
JINKU_MODELS_COLLECTION_NAME="jinku_models"
JINKU_MAX_RETRIES="1"
LOGGER_APP_NAME="Jinku"

JINKU_COOKIE="AWSALB=XrgxohDP9MpcmkKRiu0CmPNH0E6Z9eV+FsN4LM5X1uiKFEzQnbPAGNA8b/zbyTx+Qd6iCSPHwst5Ap5n6OF6c1UDAX2VVfoZKi7uLF/pCPJaFe7S0IqwiKyU/P4N; AWSALBCORS=XrgxohDP9MpcmkKRiu0CmPNH0E6Z9eV+FsN4LM5X1uiKFEzQnbPAGNA8b/zbyTx+Qd6iCSPHwst5Ap5n6OF6c1UDAX2VVfoZKi7uLF/pCPJaFe7S0IqwiKyU/P4N; XSRF-TOKEN=eyJpdiI6IkZCL0RYYWk1cEtwcjFWa1ZZQWlzdGc9PSIsInZhbHVlIjoicG9SQjBHb3FwR3E1b2Z1dVhOaE1MbjFzdGJMY0NxUm9XUkE3Z3lYZGd6UkxiV2wrc3NaQ2FqOVZ3SCtpV2dQS1hnUUlGaFRlZ2h2N1Zuc3hxaU1YSTIyR2I0Q0JJVmVpNDlYVVZWZ0xmdGtqOHNOYnErUk1WQXFMOVRUSEI3bkYiLCJtYWMiOiJkMzY0YWNiNzhlZjA2YWFiODE5ZGRkM2RmYmZiM2RiNjIzMzZjYjA5MGRiNTQ4YjQ3M2UzZDkzNjAzMDJlOWQzIiwidGFnIjoiIn0%3D; laravel_session=eyJpdiI6IlU3V2IybUlaOVFzM05DUW02NUFFaGc9PSIsInZhbHVlIjoiNlhvMDhBQmlLMFBWRkdZWkZwVk1sTWU3MnVKdEZJckR5VFBsZDZGUWlvbXFDRXpBalpDeElWb2Fld0s5N1JJeUZuZTk4bDg4QUN0djV5ZzhINkJmdGpLMlFMTzlwd0NMVUhOM2ljQnJjK0NpYW1GeExuWEVZQTIyak5QeTd0by8iLCJtYWMiOiJiYjdmYTcwMTAxOGU4ZjBkYTc5MjNlZmM5ODdiYmU0Zjc1MTQxMTRhZDkwZmY0NzFkMDJjZjU2Yjk1ZTc3MGRiIiwidGFnIjoiIn0%3D"
JINKU_CSRF_TOKEN="uTvvCXfNxUkNxOhAN7JSaZ9aOVdeVUrOJ2jSN3jO"
JINKU_PRODUCTS_COLLECTION_NAME="jinku_products"

SBPARTS_PARTS_COLLECTION="sbparts_parts_new"