beautifulsoup4==4.13.0
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
dnspython==2.7.0
idna==3.10
pymongo==4.10.1
python-dotenv==1.0.1
requests==2.32.3
requests_to_curl==1.1.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
